body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  padding-top: 5rem;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 16px;
}

.starter-template {
  padding: 3.5rem 1.5rem;
  text-align: center;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  font-size: 18px;
}

.jumbotron .container {
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

table {

}

th {
    height: 50px;
}
tr {
  height: 40px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

th, td {
  width: 15%;
  text-transform: capitalize;
}


th:first-child,td:first-child {
  width: 32%;
  text-align:left;
}

th:last-child, td:last-child {
  width: 8%;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
