<!-- index.html-->

{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <main role="main">
    <section class="jumbotron text-center city-info">
      <div class="container">
        <h1 class="jumbotron-heading">I am a from , and I would like to be a </h1>
        <p class="lead"> Dar-es-salaam</p>
        <p>
          <!-- <a href="/stations" class="btn btn-primary">Find Other Stations</a> -->
          <!-- <a href="#" class="btn btn-secondary">Secondary action</a> -->
        </p>
      </div>
    </section>
  </main>

{% endblock %}
